<h1>Hello</h1>
<!--form-->


      <div class="box">
        <form action="/users/login" method="POST">
          <h3>Notes</h3>
          <div class="inputbox">
            <input type="text" name="username" required="" />
            <label>username</label>
          </div>
          <div class="inputbox">
            <input type="text" name="password" required="" />
            <label>password</label>
          </div>
          <input type="submit" name="submit" value="Login" id="sumbit" />
        </form>
      </div>
