<h1>hello {{ userName }}</h1>
<form action="/note" method="POST">
          <h3>Notes</h3>
          <div class="inputbox">
            <input type="text" name="{{ userName }}" />
            <label>write something</label>
          </div>
          <input type="submit" name="submit" value="submit" id="sumbit" />
</form>
<ul id="existingNotes">
</ul>

